*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Sylfaen";
    font-size: 20px;
    background: url(slike/pozadina.jpg);
    background-repeat: none;
}
.navigacija{
    background-color: blueviolet;
    height: 80px;
    width: 100%;
}
label.natpisNAV{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.navigacija ul{
    float: right;
    margin-right: 20px;
}
.navigacija ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
.navigacija ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.dugmenavigacija:hover{
    background-color: rgba(137, 43, 226, 0.87);
    transition-duration: 0.5s;
}
.centar{
    margin-left: 120px;
    margin-right: 120px;
}
h1{
    text-align: center;
    font-family: "Franklin Gothic Heavy";
    font-size: 35px;
}
.prvipasus{
    text-align: justify;
    width: 800px;
}
.drugipasus{
    text-align: justify;
}
.prvaslika{
    width: 430px;
    height: 271px;
    float: right;
    margin-left: 10px;
}
.dugme{
    font-family: "MS Sans Serif";
    border-radius: 25px;
    background: rgb(233, 160, 226);
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 45%;
    font-size: 20px;
    margin-top: 20px;
}
.dugme:hover{
    background-color: rgb(185, 113, 178);
    transition-duration: 0.4s;
}
